<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <!-- <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Bugs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Website
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Server
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="card-title">User List</h4>
                                <p class="card-category">List of registered user</p>
                            </div>
                            <div class="col-sm-6">
                                <p  class="float-right"><button class="btn btn-danger"
                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                data-target="#exampleModal" (click)="onAdd()">Add User</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-dark font-weight-bold">
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Mobile Number</th>
                                <th>Role</th>
                                <!-- <th>Address</th> -->
                                <th>Action</th>
                                <!-- <th>Delete</th> -->
                            </thead>
                            <tbody>
                                <tr>
                                    <tr *ngFor="let user of userInfo; let i = index" [attr.data-index]="i">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <img class="avatar border-gray" width="45px" height="45px" style="border-radius:50%;"  src="{{user.file}}"
                                            alt="User Image" />
                                        </td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.xgen}}</td>
                                        <td>{{user.dob}}</td>
                                        
                                        <td>{{user.mob}}</td>
                                        <td>{{user.role}}</td>
                                        <!-- <td>{{user.address}}</td> -->
                                        <td role="button">
                                            <i class="fa fa-edit mx-2" (click)="onEdit(user._id)" data-toggle="modal"
                                            data-target="#exampleModal"></i>
                                            <i class="fa fa-trash mx-2" (click)="deleteUser(user._id)"></i></td>
                                        <!-- <td role="button"></td> -->

                                    </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="exampleModalLabel" *ngIf="isAdd">Add User</h5>
                            <h5 class="modal-title" id="exampleModalLabel" *ngIf="!isAdd">Edit User</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                (click)="onReset()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="registerForm" (ngSubmit)="addEditUser();">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" formControlName="name"
                                                placeholder="Enter your First name">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.name">
                                                <p *ngIf="registerForm.get('name').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" formControlName="email"
                                                placeholder="Enter your email">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.email">
                                                <p *ngIf="registerForm.get('email').hasError(v.type)"
                                                    class="text-danger" [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control"
                                                placeholder="Enter your password" formControlName="password">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.password">
                                                <p *ngIf="registerForm.get('password').hasError(v.type)"
                                                    class="text-danger" [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control"
                                                placeholder="Enter your confirm Password"
                                                formControlName="confirmPassword">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.confirmPassword">
                                                <p *ngIf="registerForm.get('confirmPassword').hasError(v.type)"
                                                    class="text-danger" [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>

                                        <div class="form-group d-flex">
                                            <label class="mx-2">Gender</label>
                                            <div>
                                                <input type="radio" formControlName="xgen" id="rd1" value="Male"><label
                                                    class="mx-1">Male</label>
                                                <input type="radio" formControlName="xgen" id="rd2"
                                                    value="Female"><label class="mx-1">Female</label>
                                            </div>

                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.xgen">
                                                <p *ngIf="registerForm.get('xgen').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Mobile Number</label>
                                            <input type="text" class="form-control"
                                                placeholder="Enter your cmobile number" formControlName="mob">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.mob">
                                                <p *ngIf="registerForm.get('mob').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                        <div class="form-group">
                                            <label>Date Of Birth</label>
                                            <input type="date" class="form-control" formControlName="dob">
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.dob">
                                                <p *ngIf="registerForm.get('dob').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                        <div class="form-group">
                                            <label>Address</label>

                                            <textarea class="form-control" placeholder="Enter your Address"
                                                formControlName="address"></textarea>
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.address">
                                                <p *ngIf="registerForm.get('address').hasError(v.type)"
                                                    class="text-danger" [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>


                                        <div class="form-group">
                                            <label>User Role</label>
                                            <select formControlName="role" class="form-control">
                                                <option value="null" selected>Select Role</option>
                                                <option value="Administrator">Administrator</option>
                                                <option value="Customer">Customer</option>
                                                <option value="Vendor">Vendor</option>
                                                <option value="Store Manager">Store Manager</option>
                                            </select>
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.role">
                                                <p *ngIf="registerForm.get('role').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input id="input-file-id" type="file" formControlName="file"
                                                (change)="onFileSelected($event)" />
                                        </div>
                                        <ng-container *ngIf="submitted">
                                            <ng-container *ngFor="let v of validationMessages.file">
                                                <p *ngIf="registerForm.get('file').hasError(v.type)" class="text-danger"
                                                    [innerText]="v.message"></p>
                                            </ng-container>
                                        </ng-container>
                                    </div>


                                </div>
                                <!-- <input type="submit" *ngIf="isAdd" value="Insert" class="btn btn-info btn-fill pull-right" />
                <input type="submit" *ngIf="!isAdd" value="Update" class="btn btn-info btn-fill pull-right" /> -->
                                <div class="modal-footer">
                                    <!-- <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                    <input type="submit" value="Insert" *ngIf="isAdd" class="btn btn-info btn-fill pull-right" />
                                    <input type="submit" value="Update" *ngIf="!isAdd" class="btn btn-info btn-fill pull-right" />

                                    <button type="reset" (click)="onReset()" class="btn btn-primary">Reset</button>
                                </div>
                                <div class="clearfix"></div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>